/* body { border-color: white;  background-size:cover; 
background-position:fixed;} */

/* html, body {width:100%; height: 100%; padding:0; margin:0px;
slider{display:block; width: 100%; height: 100%; background-color:
#1f1f1f; overflow: hidden; position: absolute;}
slider>*{display:block; width: 100%; height: 100%; background-color:
#1f1f1f; overflow: hidden; position: absolute; 
animation:slide 12s infinite; overflow: hidden;}

slider:nth-child(1) {left: 0%; animation-delay: -1s; 
background-image: url(mancity.png);
background-size: cover; background-position: center;}

slider:nth-child(2) {left: 0%; animation-delay: 2s; 
background-image: url(5teams2.jpg);
background-size: cover; background-position: center;}

slider:nth-child(3) {left: 0%; animation-delay: 5s; 
background-image: url(chelsea.png);
background-size: cover; background-position: center;}

slider:nth-child(4) {left: 0%; animation-delay: 8s; 
background-image: url(liverpool.jpg);
background-size: cover; background-position: center;}

slide p{
	font-family: Comfortaa;
	font-size:70px;
	text-align: center;
	display: inline-block;
	width: 100%;
	margin-top: 340px; 
	color: #fff;}
 @keyframes slide{ 
 0%{left: 100%; width: 100%;}
 5%{left: 0%;}
 25%{left: 0%;}
 30%{left: -100%; width: 100%;}
 30.0001%{left: -100%; width: 0%;}
 100%{left: 100%; width: 0%;}
}
 */ 	





table { font-family:fantasy; 800px; margin-left: auto; margin-right: auto;  }
caption { font-size: 30px; font-style: bold; line-height: 150%; }
th, td { padding: 8px; border: 1px solid transparent;}
/* th:hover  { background-color: blue; color: white; }
tr:hover  { background-color: white; color: white; } */
#nav {
		/* 메뉴 전체 영역에 대한 스타일 */
		list-style-type: none; /* 불릿 기호 없앰 */
		height: 45px; /* 내비게이션 높이 */
		padding: 6px 7px; /* 위아래 6px, 좌우 7px씩 안여백 */
		margin: 0; /* 바깥 여백 없음 */
		background: transparent; /* 내비게이션 전체 배경색 */
		border-radius: 0.5em; /* 모서리 둥글게 */}